.a-box {
    display: inline-block;
    width: 280px;
    text-align: center;
}
.button {
    margin: 0px 0px;
    text-align: center;
    display: flex;
    font-size: 16px;
    border: none;
    background: none;
    color: inherit;
    vertical-align: middle;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}

.button--moema {
    padding: 15px 40px;
    margin-inline-start: 1000px;
    text-align: center;
    display: inline-block;
    border-radius: 50px;
    background: #3498db;
    color: #fff;
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
}


    .button--moema.button--inverted {
        background: #ECEFF1;
        color: #37474f;
    }

    .button--moema :before {
        content: '';
        top: -20px;
        left: -20px;
        bottom: -20px;
        right: -20px;
        background: inherit;
        border-radius: 50px;
        z-index: -1;
        opacity: 0.4;
        -webkit-transform: scale3d(0.8, 0.5, 1);
        transform: scale3d(0.8, 0.5, 1);
    }

    .button--moema:hover {
        -webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
        transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
        color: #ECEFF1;
        background-color: #00b9c1;
        -webkit-animation: anim-moema-1 0.3s forwards;
        animation: anim-moema-1 0.3s forwards;
        overflow: hidden;
    }

    .button--moema.button--inverted:hover {
        color: #ECEFF1;
        background-color: #3498db;
    }

    .button--moema:hover::before {
        -webkit-animation: anim-moema-2 0.3s 0.3s forwards;
        animation: anim-moema-2 0.3s 0.3s forwards;
    }

@-webkit-keyframes anim-moema-1 {
    60% {
        -webkit-transform: scale3d(0.8, 0.8, 1);
        transform: scale3d(0.8, 0.8, 1);
    }

    85% {
        -webkit-transform: scale3d(1.1, 1.1, 1);
        transform: scale3d(1.1, 1.1, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes anim-moema-1 {
    60% {
        -webkit-transform: scale3d(0.8, 0.8, 1);
        transform: scale3d(0.8, 0.8, 1);
    }

    85% {
        -webkit-transform: scale3d(1.1, 1.1, 1);
        transform: scale3d(1.1, 1.1, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes anim-moema-2 {
    to {
        opacity: 0;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes anim-moema-2 {
    to {
        opacity: 0;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.card-center {
    padding: 140px 25px;
    font-family: Montserrat, sans-serif;
}

.img-container {
    height: 230px;
    width: 240px;
    overflow: hidden;
    border-radius: 0px 0px 20px 20px;
    display: inline-block;
}

    .img-container img {
        transform: skew(0deg, -13deg);
        height: 270px;
        margin: -35px 0px 0px -70px;
    }

.inner-skew {
    display: inline-block;
    border-radius: 20px;
    overflow: hidden;
    padding: 0px;
    transform: skew(0deg, 13deg);
    font-size: 0px;
    margin: 30px 0px 0px 0px;
    background: #c8c2c2;
    height: 270px;
    width: 240px;
}

.text-container-blue {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    padding: 120px 20px 20px 20px;
    border-radius: 20px;
    margin: -120px 0px 0px 0px;
    line-height: 19px;
    font-size: 14px;
}

.color1 {
    background: #ff70a6;
}

.color2 {
    background: #ff9770;
}

.color3 {
    background: #90f1ef;
}

.color4 {
    background: #e9ff70;
}

.input-group {
    width: 70%;
    margin: 20px 40px 10px 170px;
}

.text-container {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    padding: 120px 20px 20px 20px;
    border-radius: 20px;
    margin: -120px 0px 0px 0px;
    line-height: 19px;
    font-size: 14px;
}

    .text-container h3 {
        margin: 10px 0px 10px 0px;
        color: #000000;
        font-size: 32px;
    }

carusel-body {
    height: 600px;
    margin: 0;
    display: grid;
    grid-template-rows: 500px 00px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
}

main#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none;
}

div.item {
    position: absolute;
    width: 320px;
    height: 430px;
    background-color: coral;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
    background-color: #90f1ef;
}

    div.item:nth-of-type(1) {
        --offset: 1;
        background-color: #90f1ef;
    }

    div.item:nth-of-type(2) {
        --offset: 2;
        background-color: #ff70a6;
    }

    div.item:nth-of-type(3) {
        --offset: 3;
        background-color: #ff9770;
    }

    div.item:nth-of-type(4) {
        --offset: 4;
        background-color: #ffd670;
    }

    div.item:nth-of-type(5) {
        --offset: 5;
        background-color: #e9ff70;
    }

input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

    input:nth-of-type(1):checked ~ main#carousel {
        --position: 1;
    }

input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

    input:nth-of-type(2):checked ~ main#carousel {
        --position: 2;
    }

input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
}

    input:nth-of-type(3):checked ~ main#carousel {
        --position: 3;
    }

input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
}

    input:nth-of-type(4):checked ~ main#carousel {
        --position: 4;
    }

input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
}

    input:nth-of-type(5):checked ~ main#carousel {
        --position: 5;
    }


body {
    /*background-image: url("https://images.unsplash.com/photo-1517999144091-3d9dca6d1e43?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHx8&w=1000&q=80");
    background-size: cover;*/
    background-color: black;
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}

h1 {
    font-size: 40px;
    text-transform: uppercase;
    color: rgb(16 250 221 / 0.83);
    font-weight: 600;
    margin-bottom: 30px;
}

h2 {
    font-size: 40px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #000000;
    font-weight: 400;
    margin-bottom: 30px;
}

.jumbotron {
    /*    background-image: url("https://images.unsplash.com/photo-1517999144091-3d9dca6d1e43?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHx8&w=1000&q=80");
*/ /*background-size: cover;*/
    background-color: black;
    height: 380px;
    color: #fff;
    padding: 140px 25px;
    font-family: Montserrat, sans-serif;
}

.jumbo {
    /*    background-color: #249bc7;
*/ height: 500px;
    color: #fff;
    padding: 140px 25px;
    font-family: Montserrat, sans-serif;
}

.container-fluid {
    padding: 20px 40px;
}

.logo-small {
    color: #f4511e;
    font-size: 50px;
}

.logo {
    color: #f4511e;
    font-size: 200px;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

    .thumbnail img {
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
    }

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}

.panel {
    border: 1px solid #f4511e;
    border-radius: 0 !important;
    transition: box-shadow 0.5s;
}

    .panel:hover {
        box-shadow: 5px 0px 40px rgba(0,0,0, .2);
    }

.panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
}

.panel-heading {
    color: #fff !important;
    background-color: #f4511e !important;
    padding: 3px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-footer {
    background-color: white !important;
}

    .panel-footer h3 {
        color: #aaa;
        font-size: 32px;
    }

    .panel-footer h4 {
        color: #aaa;
        font-size: 14px;
    }

    .panel-footer .btn {
        margin: 15px 0;
        background-color: #f4511e;
        color: #fff;
    }

.navbar {
    margin-bottom: 0;
    /*    background-image: url("https://c4.wallpaperflare.com/wallpaper/160/495/830/colorful-background-vivid-colors-wallpaper-preview.jpg");
*/
    background-color: black;
    background-size: 1500px;
    z-index: 9999;
    border: 0;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}

    .navbar li abbr {
        color: aliceblue !important;
        font-size: 14px !important;
        display: flex;
        justify-content: center;
    }

    .navbar li a, .navbar .navbar-brand {
        color: #00ffea !important;
        font-size: 14px !important;
        display: flex;
        justify-content: center;
    }

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #ff70a6 !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
}

.slideanim {
    visibility: hidden;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }

    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
}
